---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import hero from "../assets/hero.png";
---

<Layout>
  <header class="border-orange border-b w-full">
    <div class="flex max-w-[1250px] w-full mx-auto px-4 py-6">
      <h1>
        <a
          href="/"
          title="Mezco Inmobiliaria"
          class="flex items-center space-x-2 font-poppings font-bold"
        >
          <Icon
            name="material-symbols-light:award-star-rounded"
            size="32"
            class="text-orange"
          />
          <span>MEZCO</span>
        </a>
      </h1>
    </div>
  </header>
  <main>
    <div class="max-w-[1250px] mx-auto py-20">
      <div class="md:px-20 px-4">
        <p
          style="font-size:clamp(24px, 4vw + 3rem, 120px)"
          class="uppercase font-bebas-neue text-[120px] w-full inline-block leading-none"
        >
          Construyendo sueños, <br />
          <span class="text-right inline-block w-full">creando hogares</span>
        </p>
      </div>
    </div>
    <div class="lg:flex items-center md:space-x-28 space-x-4">
      <div class="flex-1 flex-shrink-0 mb-20 lg:mb-0">
        <Image src={hero} class="w-full" alt="Mezco Inmobilaria " />
      </div>
      <div class="flex-1 md:pr-28 pr-4">
        <p class="font-raleway text-base md:text-2xl leading-relaxed mb-6">
          Te acompañamos en cada paso para encontrar el hogar perfecto, la
          inversión ideal o el espacio que se adapte a tus necesidades.
        </p>
        <p class="font-raleway text-base md:text-2xl leading-relaxed">
          Con años de experiencia, transparencia y un enfoque personalizado,
          estamos aquí para convertir tus metas en realidad.
        </p>
      </div>
    </div>
  </main>
  <footer
    class="py-20 font-raleway text-sm px-4 max-w-[1250px] mx-auto text-right"
  >
    All rights reserved. Mezco @ 2025
  </footer>
</Layout>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const app = document.getElementById("app");
    if (!app) return;

    app.classList.add("!opacity-100");
  });
</script>
