---
import "@fontsource/bebas-neue";
import "@fontsource/poppins";
import "@fontsource/quicksand";
import "@fontsource/raleway";
import "@fontsource/lobster";
import "@fontsource/nixie-one";
import { ClientRouter } from "astro:transitions";
import "../assets/fonts.css";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Mezco Inmobiliaria SAC" />
    <meta
      name="keywords"
      content="inmobiliaria en Perú, departamentos en venta Huancayo, casas en alquiler El Tambo, propiedades en Huancayo, inversión bienes raíces Perú, proyectos inmobiliarios nuevos, terrenos en venta Junín, administración de propiedades, asesoría legal inmobiliaria, tasación de propiedades profesional, locales comerciales Huancayo, alquiler de oficinas El Tambo, financiamiento hipotecario, mejor inmobiliaria en Huancayo, inmobiliaria de confianza El Tambo, agencia inmobiliaria Junín, compraventa de casas Huancayo centro, departamentos baratos El Tambo, oportunidades inmobiliarias 2024, promociones departamentos Huancayo, proyectos entrega inmediata, inversión segura bienes raíces, crédito hipotecario fácil, real estate Peru, apartments for sale Huancayo, property investment Peru, luxury homes El Tambo, land for sale Junín, vender propiedad rápido Huancayo, departamentos amueblados alquiler El Tambo, requisitos comprar casa Perú, mejor inmobiliaria inversión Junín, precio terrenos agrícolas Huancayo, Mezco Inmobiliaria opiniones, contacto Mezco Inmobiliaria, proyectos destacados Mezco, experiencia Mezco Inmobiliaria, elegir Mezco Inmobiliaria "
    />
    <meta
      name="description"
      content="Mezco Inmobiliaria: Tu aliado en bienes raíces. Encuentra tu hogar ideal, inversiones seguras y asesoría experta. ¡Transformamos tus sueños en realidad!"
    />
    <title>
      {pageTitle}
      {pageTitle ? " | " : ""}
      Mezco Inmobiliaria: Propiedades exclusivas, compra e invierte con alta plusvalía
    </title>
    <ClientRouter />
  </head>

  <body id="app" class="opacity-0 transition-opacity duration-300 ease-in-out">
    <slot />

    <script is:inline>
      document.addEventListener("astro:page-load", () => {
        const app = document.getElementById("app");
        if (!app) return;

        app.classList.add("!opacity-100");
      });
    </script>
  </body>
</html>
